# Koşullu Eleman İşlemleri

In [1]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    23    20    14
1     8     3    21
2    23    26     4
3     4    23    17
4    17    21    29
5    22     9     4
6     9    24    12
7    18    12     7
8    27    11    26
9    16    13    26

In [4]:
df.var1

0    23
1     8
2    23
3     4
4    17
5    22
6     9
7    18
8    27
9    16
Name: var1, dtype: int32

In [8]:
df [df.var1 > 15]

0    23
2    23
4    17
5    22
7    18
8    27
9    16
Name: var1, dtype: int32

In [9]:
df [(df.var1 > 15) & (df.var3 < 5)]

   var1  var2  var3
2    23    26     4
5    22     9     4